table,
th,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 56px;
    margin: 10px;
    padding: 10px;
    align-items: center;
}

#open {
    color: aqua;
}


/* set close btn margin */

#close {
    /* display: flex; */
    color: gold;
    margin-left: 110px;
}