// footboll
.container {
    padding: 100px;
    margin: 50px;
    border: 1px solid rgb(0, 0, 0);
    background: url("../img/footboll.png");
    object-fit: cover;
    background-size: contain;
    border-radius: 300px;
    width: 0px;
    height: 3px;
    transform: translate(50px, 50px);
    transform: rotate(90deg);
    transition-duration: 2s;
    transition-timing-function: ease;
}

.container:hover {
    transform: translate(0cm, 20cm);
    border-radius: 2px solid blue;
}